*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.dots {
  display: grid;
  grid-template-columns: repeat(20, 24px);
  grid-template-rows: repeat(20, 24px);
  place-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: hsl(var(--hue), 90%, 70%);
  border-radius: 50%;
  -webkit-animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
          animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
}
@-webkit-keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
@keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
.dot:nth-child(1) {
  --hue: 44.335574851;
}
.dot:nth-child(2) {
  --hue: 137.5057874805;
}
.dot:nth-child(3) {
  --hue: 228.6183657458;
}
.dot:nth-child(4) {
  --hue: 200.9785240821;
}
.dot:nth-child(5) {
  --hue: 237.1593573464;
}
.dot:nth-child(6) {
  --hue: 116.324682156;
}
.dot:nth-child(7) {
  --hue: 113.8980258785;
}
.dot:nth-child(8) {
  --hue: 323.1846589874;
}
.dot:nth-child(9) {
  --hue: 349.5690188149;
}
.dot:nth-child(10) {
  --hue: 217.1850753559;
}
.dot:nth-child(11) {
  --hue: 9.7939780832;
}
.dot:nth-child(12) {
  --hue: 83.7944011395;
}
.dot:nth-child(13) {
  --hue: 252.4871830223;
}
.dot:nth-child(14) {
  --hue: 256.5569659928;
}
.dot:nth-child(15) {
  --hue: 292.4966317084;
}
.dot:nth-child(16) {
  --hue: 354.013465034;
}
.dot:nth-child(17) {
  --hue: 235.5909224448;
}
.dot:nth-child(18) {
  --hue: 280.5762197026;
}
.dot:nth-child(19) {
  --hue: 276.1890239697;
}
.dot:nth-child(20) {
  --hue: 258.2877800176;
}
.dot:nth-child(21) {
  --hue: 62.867301454;
}
.dot:nth-child(22) {
  --hue: 47.6768281603;
}
.dot:nth-child(23) {
  --hue: 187.1514075699;
}
.dot:nth-child(24) {
  --hue: 143.9120131944;
}
.dot:nth-child(25) {
  --hue: 226.0210454642;
}
.dot:nth-child(26) {
  --hue: 294.9857336163;
}
.dot:nth-child(27) {
  --hue: 339.1581508681;
}
.dot:nth-child(28) {
  --hue: 146.317549565;
}
.dot:nth-child(29) {
  --hue: 10.7411956405;
}
.dot:nth-child(30) {
  --hue: 5.2610262742;
}
.dot:nth-child(31) {
  --hue: 336.8185431957;
}
.dot:nth-child(32) {
  --hue: 104.9270625056;
}
.dot:nth-child(33) {
  --hue: 64.4040643573;
}
.dot:nth-child(34) {
  --hue: 265.457613061;
}
.dot:nth-child(35) {
  --hue: 189.888966476;
}
.dot:nth-child(36) {
  --hue: 179.7132983351;
}
.dot:nth-child(37) {
  --hue: 133.5996587589;
}
.dot:nth-child(38) {
  --hue: 287.5399486646;
}
.dot:nth-child(39) {
  --hue: 26.4103741583;
}
.dot:nth-child(40) {
  --hue: 275.9184852345;
}
.dot:nth-child(41) {
  --hue: 100.522400839;
}
.dot:nth-child(42) {
  --hue: 347.2255621736;
}
.dot:nth-child(43) {
  --hue: 19.4546640148;
}
.dot:nth-child(44) {
  --hue: 327.8406633081;
}
.dot:nth-child(45) {
  --hue: 340.0410598827;
}
.dot:nth-child(46) {
  --hue: 139.428533106;
}
.dot:nth-child(47) {
  --hue: 266.0523302094;
}
.dot:nth-child(48) {
  --hue: 306.3286370786;
}
.dot:nth-child(49) {
  --hue: 248.3008770584;
}
.dot:nth-child(50) {
  --hue: 81.985907084;
}
.dot:nth-child(51) {
  --hue: 273.0502520074;
}
.dot:nth-child(52) {
  --hue: 193.3325292251;
}
.dot:nth-child(53) {
  --hue: 227.6433459367;
}
.dot:nth-child(54) {
  --hue: 137.2369164437;
}
.dot:nth-child(55) {
  --hue: 212.3492928515;
}
.dot:nth-child(56) {
  --hue: 181.286845408;
}
.dot:nth-child(57) {
  --hue: 358.6558362232;
}
.dot:nth-child(58) {
  --hue: 4.4795148174;
}
.dot:nth-child(59) {
  --hue: 115.4236227363;
}
.dot:nth-child(60) {
  --hue: 262.6925965187;
}
.dot:nth-child(61) {
  --hue: 147.8674945265;
}
.dot:nth-child(62) {
  --hue: 251.930351734;
}
.dot:nth-child(63) {
  --hue: 169.8417227973;
}
.dot:nth-child(64) {
  --hue: 121.8863396181;
}
.dot:nth-child(65) {
  --hue: 185.9902373442;
}
.dot:nth-child(66) {
  --hue: 184.9189906615;
}
.dot:nth-child(67) {
  --hue: 47.1846513335;
}
.dot:nth-child(68) {
  --hue: 167.8357917135;
}
.dot:nth-child(69) {
  --hue: 42.0428221884;
}
.dot:nth-child(70) {
  --hue: 55.1180441041;
}
.dot:nth-child(71) {
  --hue: 310.6206922728;
}
.dot:nth-child(72) {
  --hue: 245.6300262009;
}
.dot:nth-child(73) {
  --hue: 112.2066716447;
}
.dot:nth-child(74) {
  --hue: 151.2878462892;
}
.dot:nth-child(75) {
  --hue: 148.1978192545;
}
.dot:nth-child(76) {
  --hue: 252.9599006054;
}
.dot:nth-child(77) {
  --hue: 225.5879299536;
}
.dot:nth-child(78) {
  --hue: 157.384944203;
}
.dot:nth-child(79) {
  --hue: 16.5612739063;
}
.dot:nth-child(80) {
  --hue: 346.3583201635;
}
.dot:nth-child(81) {
  --hue: 347.37738651;
}
.dot:nth-child(82) {
  --hue: 300.7679149258;
}
.dot:nth-child(83) {
  --hue: 267.9291264001;
}
.dot:nth-child(84) {
  --hue: 211.2254401194;
}
.dot:nth-child(85) {
  --hue: 327.2558107574;
}
.dot:nth-child(86) {
  --hue: 58.4001860561;
}
.dot:nth-child(87) {
  --hue: 179.018593064;
}
.dot:nth-child(88) {
  --hue: 32.3335357622;
}
.dot:nth-child(89) {
  --hue: 184.2332110517;
}
.dot:nth-child(90) {
  --hue: 41.1754355543;
}
.dot:nth-child(91) {
  --hue: 164.5500646972;
}
.dot:nth-child(92) {
  --hue: 88.4125920616;
}
.dot:nth-child(93) {
  --hue: 278.3767730242;
}
.dot:nth-child(94) {
  --hue: 254.5615727852;
}
.dot:nth-child(95) {
  --hue: 170.9658683895;
}
.dot:nth-child(96) {
  --hue: 179.8285833602;
}
.dot:nth-child(97) {
  --hue: 179.0438575817;
}
.dot:nth-child(98) {
  --hue: 331.3928772417;
}
.dot:nth-child(99) {
  --hue: 151.3068946464;
}
.dot:nth-child(100) {
  --hue: 81.4811241188;
}
.dot:nth-child(101) {
  --hue: 43.8946884273;
}
.dot:nth-child(102) {
  --hue: 186.7698154209;
}
.dot:nth-child(103) {
  --hue: 132.4507513075;
}
.dot:nth-child(104) {
  --hue: 64.9465458472;
}
.dot:nth-child(105) {
  --hue: 214.6303442152;
}
.dot:nth-child(106) {
  --hue: 68.1621025806;
}
.dot:nth-child(107) {
  --hue: 211.0272194248;
}
.dot:nth-child(108) {
  --hue: 266.8699019457;
}
.dot:nth-child(109) {
  --hue: 328.7353024081;
}
.dot:nth-child(110) {
  --hue: 172.3392081324;
}
.dot:nth-child(111) {
  --hue: 240.6640396544;
}
.dot:nth-child(112) {
  --hue: 188.5662016818;
}
.dot:nth-child(113) {
  --hue: 71.8819939973;
}
.dot:nth-child(114) {
  --hue: 265.7035775705;
}
.dot:nth-child(115) {
  --hue: 64.1822025575;
}
.dot:nth-child(116) {
  --hue: 297.5334526764;
}
.dot:nth-child(117) {
  --hue: 227.4276927592;
}
.dot:nth-child(118) {
  --hue: 242.4812570844;
}
.dot:nth-child(119) {
  --hue: 283.2213351871;
}
.dot:nth-child(120) {
  --hue: 37.0569913533;
}
.dot:nth-child(121) {
  --hue: 5.6116748658;
}
.dot:nth-child(122) {
  --hue: 189.2069544018;
}
.dot:nth-child(123) {
  --hue: 53.8388559747;
}
.dot:nth-child(124) {
  --hue: 149.4145572315;
}
.dot:nth-child(125) {
  --hue: 176.4076848137;
}
.dot:nth-child(126) {
  --hue: 162.1366268097;
}
.dot:nth-child(127) {
  --hue: 222.1471281342;
}
.dot:nth-child(128) {
  --hue: 328.3669084823;
}
.dot:nth-child(129) {
  --hue: 113.8708407559;
}
.dot:nth-child(130) {
  --hue: 142.368753691;
}
.dot:nth-child(131) {
  --hue: 271.4230479639;
}
.dot:nth-child(132) {
  --hue: 113.258016195;
}
.dot:nth-child(133) {
  --hue: 243.1281385605;
}
.dot:nth-child(134) {
  --hue: 325.6006198391;
}
.dot:nth-child(135) {
  --hue: 34.8618486029;
}
.dot:nth-child(136) {
  --hue: 349.5795927557;
}
.dot:nth-child(137) {
  --hue: 228.3777527476;
}
.dot:nth-child(138) {
  --hue: 243.5646867846;
}
.dot:nth-child(139) {
  --hue: 220.1239042147;
}
.dot:nth-child(140) {
  --hue: 52.5240965075;
}
.dot:nth-child(141) {
  --hue: 269.2433107348;
}
.dot:nth-child(142) {
  --hue: 316.1382292842;
}
.dot:nth-child(143) {
  --hue: 145.5753978632;
}
.dot:nth-child(144) {
  --hue: 227.0141397175;
}
.dot:nth-child(145) {
  --hue: 163.0817920952;
}
.dot:nth-child(146) {
  --hue: 233.0912143625;
}
.dot:nth-child(147) {
  --hue: 95.1423491212;
}
.dot:nth-child(148) {
  --hue: 40.8800067613;
}
.dot:nth-child(149) {
  --hue: 125.5631184793;
}
.dot:nth-child(150) {
  --hue: 4.6870655084;
}
.dot:nth-child(151) {
  --hue: 202.3707565414;
}
.dot:nth-child(152) {
  --hue: 25.134409929;
}
.dot:nth-child(153) {
  --hue: 324.1723204387;
}
.dot:nth-child(154) {
  --hue: 49.9962413363;
}
.dot:nth-child(155) {
  --hue: 134.7606121572;
}
.dot:nth-child(156) {
  --hue: 113.212955254;
}
.dot:nth-child(157) {
  --hue: 68.1576692629;
}
.dot:nth-child(158) {
  --hue: 190.2091798052;
}
.dot:nth-child(159) {
  --hue: 15.1749111785;
}
.dot:nth-child(160) {
  --hue: 296.8933241683;
}
.dot:nth-child(161) {
  --hue: 89.3882328221;
}
.dot:nth-child(162) {
  --hue: 198.0066656854;
}
.dot:nth-child(163) {
  --hue: 356.7516231918;
}
.dot:nth-child(164) {
  --hue: 356.4106390873;
}
.dot:nth-child(165) {
  --hue: 307.2430635463;
}
.dot:nth-child(166) {
  --hue: 106.4375352937;
}
.dot:nth-child(167) {
  --hue: 67.6429912943;
}
.dot:nth-child(168) {
  --hue: 215.6443752239;
}
.dot:nth-child(169) {
  --hue: 143.0295573063;
}
.dot:nth-child(170) {
  --hue: 66.38080638;
}
.dot:nth-child(171) {
  --hue: 318.5853889253;
}
.dot:nth-child(172) {
  --hue: 63.0138313633;
}
.dot:nth-child(173) {
  --hue: 63.7401815325;
}
.dot:nth-child(174) {
  --hue: 244.2935607361;
}
.dot:nth-child(175) {
  --hue: 115.1341468233;
}
.dot:nth-child(176) {
  --hue: 304.5043909933;
}
.dot:nth-child(177) {
  --hue: 262.2644957457;
}
.dot:nth-child(178) {
  --hue: 140.6029296722;
}
.dot:nth-child(179) {
  --hue: 107.3479432759;
}
.dot:nth-child(180) {
  --hue: 230.0150190491;
}
.dot:nth-child(181) {
  --hue: 145.3523703509;
}
.dot:nth-child(182) {
  --hue: 84.3385309179;
}
.dot:nth-child(183) {
  --hue: 161.5373772041;
}
.dot:nth-child(184) {
  --hue: 239.6108531113;
}
.dot:nth-child(185) {
  --hue: 170.5148659576;
}
.dot:nth-child(186) {
  --hue: 27.5391973346;
}
.dot:nth-child(187) {
  --hue: 114.0161970092;
}
.dot:nth-child(188) {
  --hue: 317.2551320327;
}
.dot:nth-child(189) {
  --hue: 24.2715228214;
}
.dot:nth-child(190) {
  --hue: 97.9775130203;
}
.dot:nth-child(191) {
  --hue: 328.1933889235;
}
.dot:nth-child(192) {
  --hue: 227.7634188108;
}
.dot:nth-child(193) {
  --hue: 318.5216748311;
}
.dot:nth-child(194) {
  --hue: 322.5404796639;
}
.dot:nth-child(195) {
  --hue: 327.3085029334;
}
.dot:nth-child(196) {
  --hue: 194.6930530005;
}
.dot:nth-child(197) {
  --hue: 64.9787128974;
}
.dot:nth-child(198) {
  --hue: 124.0421649887;
}
.dot:nth-child(199) {
  --hue: 355.9827277179;
}
.dot:nth-child(200) {
  --hue: 353.5106155964;
}
.dot:nth-child(201) {
  --hue: 10.5364681775;
}
.dot:nth-child(202) {
  --hue: 162.4268141198;
}
.dot:nth-child(203) {
  --hue: 225.1751634816;
}
.dot:nth-child(204) {
  --hue: 50.0918588334;
}
.dot:nth-child(205) {
  --hue: 213.8276322738;
}
.dot:nth-child(206) {
  --hue: 128.7736020725;
}
.dot:nth-child(207) {
  --hue: 58.441920625;
}
.dot:nth-child(208) {
  --hue: 127.5970695792;
}
.dot:nth-child(209) {
  --hue: 172.0060909284;
}
.dot:nth-child(210) {
  --hue: 223.6898203603;
}
.dot:nth-child(211) {
  --hue: 241.0167642383;
}
.dot:nth-child(212) {
  --hue: 61.9904531833;
}
.dot:nth-child(213) {
  --hue: 270.4181856321;
}
.dot:nth-child(214) {
  --hue: 164.7917230157;
}
.dot:nth-child(215) {
  --hue: 78.0649511841;
}
.dot:nth-child(216) {
  --hue: 104.3309800568;
}
.dot:nth-child(217) {
  --hue: 89.2714621977;
}
.dot:nth-child(218) {
  --hue: 14.8903550667;
}
.dot:nth-child(219) {
  --hue: 297.2190094461;
}
.dot:nth-child(220) {
  --hue: 289.3687462677;
}
.dot:nth-child(221) {
  --hue: 43.1639739369;
}
.dot:nth-child(222) {
  --hue: 102.9097025345;
}
.dot:nth-child(223) {
  --hue: 66.0695197265;
}
.dot:nth-child(224) {
  --hue: 227.071286662;
}
.dot:nth-child(225) {
  --hue: 42.0872383407;
}
.dot:nth-child(226) {
  --hue: 25.9975048015;
}
.dot:nth-child(227) {
  --hue: 157.7260654824;
}
.dot:nth-child(228) {
  --hue: 52.167268914;
}
.dot:nth-child(229) {
  --hue: 325.957351705;
}
.dot:nth-child(230) {
  --hue: 340.9580560928;
}
.dot:nth-child(231) {
  --hue: 111.4739382662;
}
.dot:nth-child(232) {
  --hue: 121.8075003091;
}
.dot:nth-child(233) {
  --hue: 197.0245601219;
}
.dot:nth-child(234) {
  --hue: 287.1167828033;
}
.dot:nth-child(235) {
  --hue: 235.1813691936;
}
.dot:nth-child(236) {
  --hue: 124.2928089193;
}
.dot:nth-child(237) {
  --hue: 38.419507828;
}
.dot:nth-child(238) {
  --hue: 181.3265760927;
}
.dot:nth-child(239) {
  --hue: 318.9208876275;
}
.dot:nth-child(240) {
  --hue: 260.9811649684;
}
.dot:nth-child(241) {
  --hue: 46.9958656859;
}
.dot:nth-child(242) {
  --hue: 129.6421991716;
}
.dot:nth-child(243) {
  --hue: 226.5813383405;
}
.dot:nth-child(244) {
  --hue: 124.8731866703;
}
.dot:nth-child(245) {
  --hue: 93.2402095392;
}
.dot:nth-child(246) {
  --hue: 175.7830029218;
}
.dot:nth-child(247) {
  --hue: 101.9890011102;
}
.dot:nth-child(248) {
  --hue: 45.0221073186;
}
.dot:nth-child(249) {
  --hue: 251.0881008955;
}
.dot:nth-child(250) {
  --hue: 122.8726522376;
}
.dot:nth-child(251) {
  --hue: 227.2375118008;
}
.dot:nth-child(252) {
  --hue: 155.0486960861;
}
.dot:nth-child(253) {
  --hue: 284.3879903871;
}
.dot:nth-child(254) {
  --hue: 231.821726695;
}
.dot:nth-child(255) {
  --hue: 311.6254785146;
}
.dot:nth-child(256) {
  --hue: 208.8861476257;
}
.dot:nth-child(257) {
  --hue: 14.0885267778;
}
.dot:nth-child(258) {
  --hue: 60.7079889477;
}
.dot:nth-child(259) {
  --hue: 78.0015533054;
}
.dot:nth-child(260) {
  --hue: 77.9528031462;
}
.dot:nth-child(261) {
  --hue: 38.6764665237;
}
.dot:nth-child(262) {
  --hue: 111.5670850117;
}
.dot:nth-child(263) {
  --hue: 272.5678379918;
}
.dot:nth-child(264) {
  --hue: 266.9418714978;
}
.dot:nth-child(265) {
  --hue: 82.2207790393;
}
.dot:nth-child(266) {
  --hue: 32.4208766703;
}
.dot:nth-child(267) {
  --hue: 281.0969414156;
}
.dot:nth-child(268) {
  --hue: 215.4925401782;
}
.dot:nth-child(269) {
  --hue: 39.3366757223;
}
.dot:nth-child(270) {
  --hue: 10.1232518031;
}
.dot:nth-child(271) {
  --hue: 189.8282333512;
}
.dot:nth-child(272) {
  --hue: 100.9451305121;
}
.dot:nth-child(273) {
  --hue: 13.2226961282;
}
.dot:nth-child(274) {
  --hue: 116.8057191976;
}
.dot:nth-child(275) {
  --hue: 35.3967946894;
}
.dot:nth-child(276) {
  --hue: 348.571600826;
}
.dot:nth-child(277) {
  --hue: 171.0188462164;
}
.dot:nth-child(278) {
  --hue: 52.06747872;
}
.dot:nth-child(279) {
  --hue: 301.0712113614;
}
.dot:nth-child(280) {
  --hue: 121.3441493753;
}
.dot:nth-child(281) {
  --hue: 289.6982142028;
}
.dot:nth-child(282) {
  --hue: 286.8892914641;
}
.dot:nth-child(283) {
  --hue: 31.926296861;
}
.dot:nth-child(284) {
  --hue: 60.4402283564;
}
.dot:nth-child(285) {
  --hue: 203.2765507164;
}
.dot:nth-child(286) {
  --hue: 60.7079860969;
}
.dot:nth-child(287) {
  --hue: 60.823937559;
}
.dot:nth-child(288) {
  --hue: 159.0803851578;
}
.dot:nth-child(289) {
  --hue: 85.0748415257;
}
.dot:nth-child(290) {
  --hue: 232.6863849927;
}
.dot:nth-child(291) {
  --hue: 228.2527244744;
}
.dot:nth-child(292) {
  --hue: 335.1339787217;
}
.dot:nth-child(293) {
  --hue: 182.4541705632;
}
.dot:nth-child(294) {
  --hue: 125.3986518269;
}
.dot:nth-child(295) {
  --hue: 184.8107796966;
}
.dot:nth-child(296) {
  --hue: 203.3492420776;
}
.dot:nth-child(297) {
  --hue: 259.9393187885;
}
.dot:nth-child(298) {
  --hue: 129.241200759;
}
.dot:nth-child(299) {
  --hue: 262.1316018117;
}
.dot:nth-child(300) {
  --hue: 78.8710714875;
}
.dot:nth-child(301) {
  --hue: 191.4536424095;
}
.dot:nth-child(302) {
  --hue: 242.6235680478;
}
.dot:nth-child(303) {
  --hue: 289.9524194006;
}
.dot:nth-child(304) {
  --hue: 25.4488932786;
}
.dot:nth-child(305) {
  --hue: 95.3370466357;
}
.dot:nth-child(306) {
  --hue: 325.5729137696;
}
.dot:nth-child(307) {
  --hue: 303.8838994079;
}
.dot:nth-child(308) {
  --hue: 291.3049654401;
}
.dot:nth-child(309) {
  --hue: 203.1827741048;
}
.dot:nth-child(310) {
  --hue: 300.7947296297;
}
.dot:nth-child(311) {
  --hue: 79.8715073239;
}
.dot:nth-child(312) {
  --hue: 20.0365996123;
}
.dot:nth-child(313) {
  --hue: 201.2877689918;
}
.dot:nth-child(314) {
  --hue: 343.3763984347;
}
.dot:nth-child(315) {
  --hue: 150.2361097533;
}
.dot:nth-child(316) {
  --hue: 8.202474153;
}
.dot:nth-child(317) {
  --hue: 126.4040768588;
}
.dot:nth-child(318) {
  --hue: 23.6625486068;
}
.dot:nth-child(319) {
  --hue: 17.8276859131;
}
.dot:nth-child(320) {
  --hue: 54.1156358556;
}
.dot:nth-child(321) {
  --hue: 30.680148056;
}
.dot:nth-child(322) {
  --hue: 222.9248443948;
}
.dot:nth-child(323) {
  --hue: 335.7388157239;
}
.dot:nth-child(324) {
  --hue: 341.5451679746;
}
.dot:nth-child(325) {
  --hue: 297.7503210259;
}
.dot:nth-child(326) {
  --hue: 222.9669311639;
}
.dot:nth-child(327) {
  --hue: 339.7986335643;
}
.dot:nth-child(328) {
  --hue: 315.7603085181;
}
.dot:nth-child(329) {
  --hue: 289.8813807007;
}
.dot:nth-child(330) {
  --hue: 68.5501619651;
}
.dot:nth-child(331) {
  --hue: 156.080743376;
}
.dot:nth-child(332) {
  --hue: 239.100629897;
}
.dot:nth-child(333) {
  --hue: 208.2067302873;
}
.dot:nth-child(334) {
  --hue: 166.9666004455;
}
.dot:nth-child(335) {
  --hue: 244.7009829061;
}
.dot:nth-child(336) {
  --hue: 184.3473746749;
}
.dot:nth-child(337) {
  --hue: 346.0618846681;
}
.dot:nth-child(338) {
  --hue: 219.3177096148;
}
.dot:nth-child(339) {
  --hue: 58.6726906547;
}
.dot:nth-child(340) {
  --hue: 195.2074923983;
}
.dot:nth-child(341) {
  --hue: 205.1675092179;
}
.dot:nth-child(342) {
  --hue: 181.9616772168;
}
.dot:nth-child(343) {
  --hue: 163.6077099968;
}
.dot:nth-child(344) {
  --hue: 207.5686461947;
}
.dot:nth-child(345) {
  --hue: 62.1829049684;
}
.dot:nth-child(346) {
  --hue: 258.9787366123;
}
.dot:nth-child(347) {
  --hue: 356.9381782846;
}
.dot:nth-child(348) {
  --hue: 230.9535588205;
}
.dot:nth-child(349) {
  --hue: 270.5699245261;
}
.dot:nth-child(350) {
  --hue: 137.697666706;
}
.dot:nth-child(351) {
  --hue: 348.9103766826;
}
.dot:nth-child(352) {
  --hue: 224.7476032306;
}
.dot:nth-child(353) {
  --hue: 272.8376315326;
}
.dot:nth-child(354) {
  --hue: 36.885922851;
}
.dot:nth-child(355) {
  --hue: 77.9723475145;
}
.dot:nth-child(356) {
  --hue: 253.8945312233;
}
.dot:nth-child(357) {
  --hue: 320.7091536959;
}
.dot:nth-child(358) {
  --hue: 334.6642339417;
}
.dot:nth-child(359) {
  --hue: 232.0133907042;
}
.dot:nth-child(360) {
  --hue: 139.5656094942;
}
.dot:nth-child(361) {
  --hue: 200.9600991444;
}
.dot:nth-child(362) {
  --hue: 332.3258794469;
}
.dot:nth-child(363) {
  --hue: 118.8952298871;
}
.dot:nth-child(364) {
  --hue: 94.5162189869;
}
.dot:nth-child(365) {
  --hue: 348.3946288353;
}
.dot:nth-child(366) {
  --hue: 354.897811343;
}
.dot:nth-child(367) {
  --hue: 75.7008779428;
}
.dot:nth-child(368) {
  --hue: 134.3256987621;
}
.dot:nth-child(369) {
  --hue: 238.6142189221;
}
.dot:nth-child(370) {
  --hue: 119.0382624735;
}
.dot:nth-child(371) {
  --hue: 230.4386646376;
}
.dot:nth-child(372) {
  --hue: 64.6289213772;
}
.dot:nth-child(373) {
  --hue: 347.3914824552;
}
.dot:nth-child(374) {
  --hue: 285.3010852891;
}
.dot:nth-child(375) {
  --hue: 167.0372078936;
}
.dot:nth-child(376) {
  --hue: 340.7095233059;
}
.dot:nth-child(377) {
  --hue: 146.0882834701;
}
.dot:nth-child(378) {
  --hue: 327.1747614194;
}
.dot:nth-child(379) {
  --hue: 157.4810217393;
}
.dot:nth-child(380) {
  --hue: 24.3472939955;
}
.dot:nth-child(381) {
  --hue: 281.8888031601;
}
.dot:nth-child(382) {
  --hue: 154.8501199968;
}
.dot:nth-child(383) {
  --hue: 92.7197524382;
}
.dot:nth-child(384) {
  --hue: 162.2424973378;
}
.dot:nth-child(385) {
  --hue: 54.9176122919;
}
.dot:nth-child(386) {
  --hue: 265.8544639946;
}
.dot:nth-child(387) {
  --hue: 359.8375798499;
}
.dot:nth-child(388) {
  --hue: 240.9276270527;
}
.dot:nth-child(389) {
  --hue: 69.7732306659;
}
.dot:nth-child(390) {
  --hue: 279.4151084439;
}
.dot:nth-child(391) {
  --hue: 168.4145143731;
}
.dot:nth-child(392) {
  --hue: 164.6916945645;
}
.dot:nth-child(393) {
  --hue: 317.9016028576;
}
.dot:nth-child(394) {
  --hue: 221.5005645128;
}
.dot:nth-child(395) {
  --hue: 51.2768482914;
}
.dot:nth-child(396) {
  --hue: 78.7325073465;
}
.dot:nth-child(397) {
  --hue: 4.7754185241;
}
.dot:nth-child(398) {
  --hue: 192.0045304676;
}
.dot:nth-child(399) {
  --hue: 285.2729966239;
}
.dot:nth-child(400) {
  --hue: 310.9353511976;
}
.dot:nth-child(20n+1) {
  --delay1: 0s;
}
.dot:nth-child(n+1):nth-child(-n+20) {
  --delay2: 0s;
}
.dot:nth-child(20n+2) {
  --delay1: -2s;
}
.dot:nth-child(n+21):nth-child(-n+40) {
  --delay2: -3s;
}
.dot:nth-child(20n+3) {
  --delay1: -4s;
}
.dot:nth-child(n+41):nth-child(-n+60) {
  --delay2: -6s;
}
.dot:nth-child(20n+4) {
  --delay1: -6s;
}
.dot:nth-child(n+61):nth-child(-n+80) {
  --delay2: -9s;
}
.dot:nth-child(20n+5) {
  --delay1: -8s;
}
.dot:nth-child(n+81):nth-child(-n+100) {
  --delay2: -12s;
}
.dot:nth-child(20n+6) {
  --delay1: -10s;
}
.dot:nth-child(n+101):nth-child(-n+120) {
  --delay2: -15s;
}
.dot:nth-child(20n+7) {
  --delay1: -12s;
}
.dot:nth-child(n+121):nth-child(-n+140) {
  --delay2: -18s;
}
.dot:nth-child(20n+8) {
  --delay1: -14s;
}
.dot:nth-child(n+141):nth-child(-n+160) {
  --delay2: -21s;
}
.dot:nth-child(20n+9) {
  --delay1: -16s;
}
.dot:nth-child(n+161):nth-child(-n+180) {
  --delay2: -24s;
}
.dot:nth-child(20n+10) {
  --delay1: -18s;
}
.dot:nth-child(n+181):nth-child(-n+200) {
  --delay2: -27s;
}
.dot:nth-child(20n+11) {
  --delay1: -20s;
}
.dot:nth-child(n+201):nth-child(-n+220) {
  --delay2: -30s;
}
.dot:nth-child(20n+12) {
  --delay1: -22s;
}
.dot:nth-child(n+221):nth-child(-n+240) {
  --delay2: -33s;
}
.dot:nth-child(20n+13) {
  --delay1: -24s;
}
.dot:nth-child(n+241):nth-child(-n+260) {
  --delay2: -36s;
}
.dot:nth-child(20n+14) {
  --delay1: -26s;
}
.dot:nth-child(n+261):nth-child(-n+280) {
  --delay2: -39s;
}
.dot:nth-child(20n+15) {
  --delay1: -28s;
}
.dot:nth-child(n+281):nth-child(-n+300) {
  --delay2: -42s;
}
.dot:nth-child(20n+16) {
  --delay1: -30s;
}
.dot:nth-child(n+301):nth-child(-n+320) {
  --delay2: -45s;
}
.dot:nth-child(20n+17) {
  --delay1: -32s;
}
.dot:nth-child(n+321):nth-child(-n+340) {
  --delay2: -48s;
}
.dot:nth-child(20n+18) {
  --delay1: -34s;
}
.dot:nth-child(n+341):nth-child(-n+360) {
  --delay2: -51s;
}
.dot:nth-child(20n+19) {
  --delay1: -36s;
}
.dot:nth-child(n+361):nth-child(-n+380) {
  --delay2: -54s;
}
.dot:nth-child(20n+20) {
  --delay1: -38s;
}
.dot:nth-child(n+381):nth-child(-n+400) {
  --delay2: -57s;
}/*# sourceMappingURL=style.css.map */