*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.dots {
  display: grid;
  grid-template-columns: repeat(20, 24px);
  grid-template-rows: repeat(20, 24px);
  place-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: hsl(var(--hue), 90%, 70%);
  border-radius: 50%;
  -webkit-animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
          animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
}
@-webkit-keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
@keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
.dot:nth-child(1) {
  --hue: 202.2621462696;
}
.dot:nth-child(2) {
  --hue: 198.6501833252;
}
.dot:nth-child(3) {
  --hue: 357.8742405009;
}
.dot:nth-child(4) {
  --hue: 27.0342614567;
}
.dot:nth-child(5) {
  --hue: 105.8080882593;
}
.dot:nth-child(6) {
  --hue: 249.8237992953;
}
.dot:nth-child(7) {
  --hue: 53.7390798446;
}
.dot:nth-child(8) {
  --hue: 6.7340016268;
}
.dot:nth-child(9) {
  --hue: 341.9442084791;
}
.dot:nth-child(10) {
  --hue: 147.4762925526;
}
.dot:nth-child(11) {
  --hue: 324.0303982535;
}
.dot:nth-child(12) {
  --hue: 338.7558356348;
}
.dot:nth-child(13) {
  --hue: 208.9694860439;
}
.dot:nth-child(14) {
  --hue: 102.0937980445;
}
.dot:nth-child(15) {
  --hue: 22.1790032354;
}
.dot:nth-child(16) {
  --hue: 110.40289763;
}
.dot:nth-child(17) {
  --hue: 103.555301018;
}
.dot:nth-child(18) {
  --hue: 28.8755589568;
}
.dot:nth-child(19) {
  --hue: 188.5283012795;
}
.dot:nth-child(20) {
  --hue: 280.1099943785;
}
.dot:nth-child(21) {
  --hue: 140.6755070479;
}
.dot:nth-child(22) {
  --hue: 207.126481079;
}
.dot:nth-child(23) {
  --hue: 214.2569074495;
}
.dot:nth-child(24) {
  --hue: 169.7919985106;
}
.dot:nth-child(25) {
  --hue: 198.3774622719;
}
.dot:nth-child(26) {
  --hue: 64.0453491445;
}
.dot:nth-child(27) {
  --hue: 358.0650741347;
}
.dot:nth-child(28) {
  --hue: 291.7824179316;
}
.dot:nth-child(29) {
  --hue: 8.0234669879;
}
.dot:nth-child(30) {
  --hue: 238.5110839227;
}
.dot:nth-child(31) {
  --hue: 323.9242134177;
}
.dot:nth-child(32) {
  --hue: 45.4490179602;
}
.dot:nth-child(33) {
  --hue: 11.9733715334;
}
.dot:nth-child(34) {
  --hue: 296.7334050037;
}
.dot:nth-child(35) {
  --hue: 109.1935146491;
}
.dot:nth-child(36) {
  --hue: 244.5171162883;
}
.dot:nth-child(37) {
  --hue: 94.897244499;
}
.dot:nth-child(38) {
  --hue: 145.8159020176;
}
.dot:nth-child(39) {
  --hue: 122.228370274;
}
.dot:nth-child(40) {
  --hue: 131.3502513219;
}
.dot:nth-child(41) {
  --hue: 144.287405182;
}
.dot:nth-child(42) {
  --hue: 347.8029541189;
}
.dot:nth-child(43) {
  --hue: 102.0732337995;
}
.dot:nth-child(44) {
  --hue: 272.0076243954;
}
.dot:nth-child(45) {
  --hue: 210.2821262943;
}
.dot:nth-child(46) {
  --hue: 209.1974540012;
}
.dot:nth-child(47) {
  --hue: 241.3969106395;
}
.dot:nth-child(48) {
  --hue: 210.6466813855;
}
.dot:nth-child(49) {
  --hue: 322.2221015116;
}
.dot:nth-child(50) {
  --hue: 201.5277696396;
}
.dot:nth-child(51) {
  --hue: 162.7086540885;
}
.dot:nth-child(52) {
  --hue: 335.7150927061;
}
.dot:nth-child(53) {
  --hue: 292.9868919918;
}
.dot:nth-child(54) {
  --hue: 103.1607433487;
}
.dot:nth-child(55) {
  --hue: 103.3998241265;
}
.dot:nth-child(56) {
  --hue: 310.8024846219;
}
.dot:nth-child(57) {
  --hue: 172.0929954885;
}
.dot:nth-child(58) {
  --hue: 277.618331102;
}
.dot:nth-child(59) {
  --hue: 341.7422219866;
}
.dot:nth-child(60) {
  --hue: 102.5279650863;
}
.dot:nth-child(61) {
  --hue: 331.5744623368;
}
.dot:nth-child(62) {
  --hue: 188.4797515855;
}
.dot:nth-child(63) {
  --hue: 318.4676729328;
}
.dot:nth-child(64) {
  --hue: 72.9495399519;
}
.dot:nth-child(65) {
  --hue: 323.1983888372;
}
.dot:nth-child(66) {
  --hue: 46.6188637835;
}
.dot:nth-child(67) {
  --hue: 196.78567828;
}
.dot:nth-child(68) {
  --hue: 173.6420316714;
}
.dot:nth-child(69) {
  --hue: 353.8646977245;
}
.dot:nth-child(70) {
  --hue: 176.3363826403;
}
.dot:nth-child(71) {
  --hue: 53.5781127965;
}
.dot:nth-child(72) {
  --hue: 355.2556753319;
}
.dot:nth-child(73) {
  --hue: 111.5996576014;
}
.dot:nth-child(74) {
  --hue: 293.1908111449;
}
.dot:nth-child(75) {
  --hue: 186.7148488346;
}
.dot:nth-child(76) {
  --hue: 330.7396461547;
}
.dot:nth-child(77) {
  --hue: 331.5509396694;
}
.dot:nth-child(78) {
  --hue: 225.567738368;
}
.dot:nth-child(79) {
  --hue: 190.4348996092;
}
.dot:nth-child(80) {
  --hue: 164.1790672623;
}
.dot:nth-child(81) {
  --hue: 218.0724305854;
}
.dot:nth-child(82) {
  --hue: 349.2073878142;
}
.dot:nth-child(83) {
  --hue: 353.8418020549;
}
.dot:nth-child(84) {
  --hue: 327.5483963037;
}
.dot:nth-child(85) {
  --hue: 117.1676931049;
}
.dot:nth-child(86) {
  --hue: 236.911684551;
}
.dot:nth-child(87) {
  --hue: 6.8121666953;
}
.dot:nth-child(88) {
  --hue: 46.8876780879;
}
.dot:nth-child(89) {
  --hue: 121.4929792565;
}
.dot:nth-child(90) {
  --hue: 243.0971763471;
}
.dot:nth-child(91) {
  --hue: 114.9839138719;
}
.dot:nth-child(92) {
  --hue: 88.8932232675;
}
.dot:nth-child(93) {
  --hue: 293.347394745;
}
.dot:nth-child(94) {
  --hue: 39.0090211225;
}
.dot:nth-child(95) {
  --hue: 173.0117446109;
}
.dot:nth-child(96) {
  --hue: 195.3088469644;
}
.dot:nth-child(97) {
  --hue: 84.951925353;
}
.dot:nth-child(98) {
  --hue: 300.7527129077;
}
.dot:nth-child(99) {
  --hue: 99.1436879407;
}
.dot:nth-child(100) {
  --hue: 311.7451016924;
}
.dot:nth-child(101) {
  --hue: 355.9870262983;
}
.dot:nth-child(102) {
  --hue: 145.4381646282;
}
.dot:nth-child(103) {
  --hue: 278.4060928132;
}
.dot:nth-child(104) {
  --hue: 73.1379987971;
}
.dot:nth-child(105) {
  --hue: 229.4255632562;
}
.dot:nth-child(106) {
  --hue: 214.9905032104;
}
.dot:nth-child(107) {
  --hue: 214.7083909406;
}
.dot:nth-child(108) {
  --hue: 357.7761723854;
}
.dot:nth-child(109) {
  --hue: 17.4659719825;
}
.dot:nth-child(110) {
  --hue: 355.0530581793;
}
.dot:nth-child(111) {
  --hue: 197.9354285194;
}
.dot:nth-child(112) {
  --hue: 257.2779598311;
}
.dot:nth-child(113) {
  --hue: 205.8864977369;
}
.dot:nth-child(114) {
  --hue: 262.3209903065;
}
.dot:nth-child(115) {
  --hue: 129.8424703864;
}
.dot:nth-child(116) {
  --hue: 300.4610772568;
}
.dot:nth-child(117) {
  --hue: 50.2766631364;
}
.dot:nth-child(118) {
  --hue: 248.1562673767;
}
.dot:nth-child(119) {
  --hue: 156.0731059839;
}
.dot:nth-child(120) {
  --hue: 213.3201749036;
}
.dot:nth-child(121) {
  --hue: 317.3599392187;
}
.dot:nth-child(122) {
  --hue: 202.3699605189;
}
.dot:nth-child(123) {
  --hue: 310.741373929;
}
.dot:nth-child(124) {
  --hue: 94.728949307;
}
.dot:nth-child(125) {
  --hue: 101.6592698057;
}
.dot:nth-child(126) {
  --hue: 159.3913907456;
}
.dot:nth-child(127) {
  --hue: 315.0766612127;
}
.dot:nth-child(128) {
  --hue: 353.9325202925;
}
.dot:nth-child(129) {
  --hue: 314.9326464952;
}
.dot:nth-child(130) {
  --hue: 81.6578202499;
}
.dot:nth-child(131) {
  --hue: 50.3623374549;
}
.dot:nth-child(132) {
  --hue: 154.5685773256;
}
.dot:nth-child(133) {
  --hue: 55.3419658909;
}
.dot:nth-child(134) {
  --hue: 242.3048096024;
}
.dot:nth-child(135) {
  --hue: 4.6108275284;
}
.dot:nth-child(136) {
  --hue: 302.7586575629;
}
.dot:nth-child(137) {
  --hue: 267.3916649748;
}
.dot:nth-child(138) {
  --hue: 261.2711103871;
}
.dot:nth-child(139) {
  --hue: 165.3297457525;
}
.dot:nth-child(140) {
  --hue: 191.0244356496;
}
.dot:nth-child(141) {
  --hue: 5.5424853352;
}
.dot:nth-child(142) {
  --hue: 92.5533147501;
}
.dot:nth-child(143) {
  --hue: 79.5835257015;
}
.dot:nth-child(144) {
  --hue: 67.0044009852;
}
.dot:nth-child(145) {
  --hue: 24.4332243377;
}
.dot:nth-child(146) {
  --hue: 15.4165631237;
}
.dot:nth-child(147) {
  --hue: 300.6107930215;
}
.dot:nth-child(148) {
  --hue: 276.8706366175;
}
.dot:nth-child(149) {
  --hue: 271.6154206041;
}
.dot:nth-child(150) {
  --hue: 127.3185601628;
}
.dot:nth-child(151) {
  --hue: 314.0774893185;
}
.dot:nth-child(152) {
  --hue: 327.6353836716;
}
.dot:nth-child(153) {
  --hue: 51.6591694485;
}
.dot:nth-child(154) {
  --hue: 249.5066206898;
}
.dot:nth-child(155) {
  --hue: 147.1912530572;
}
.dot:nth-child(156) {
  --hue: 115.5932436115;
}
.dot:nth-child(157) {
  --hue: 37.1262977562;
}
.dot:nth-child(158) {
  --hue: 353.1229507172;
}
.dot:nth-child(159) {
  --hue: 220.0639596735;
}
.dot:nth-child(160) {
  --hue: 177.6809801584;
}
.dot:nth-child(161) {
  --hue: 239.8802625362;
}
.dot:nth-child(162) {
  --hue: 268.363798748;
}
.dot:nth-child(163) {
  --hue: 90.7889091569;
}
.dot:nth-child(164) {
  --hue: 244.5203729885;
}
.dot:nth-child(165) {
  --hue: 199.2222183632;
}
.dot:nth-child(166) {
  --hue: 173.5776502426;
}
.dot:nth-child(167) {
  --hue: 155.9656680428;
}
.dot:nth-child(168) {
  --hue: 306.3918885339;
}
.dot:nth-child(169) {
  --hue: 226.6314270901;
}
.dot:nth-child(170) {
  --hue: 55.2292019825;
}
.dot:nth-child(171) {
  --hue: 311.3603457525;
}
.dot:nth-child(172) {
  --hue: 186.5273388474;
}
.dot:nth-child(173) {
  --hue: 131.0721398613;
}
.dot:nth-child(174) {
  --hue: 327.3707732809;
}
.dot:nth-child(175) {
  --hue: 125.8201019442;
}
.dot:nth-child(176) {
  --hue: 34.4492865311;
}
.dot:nth-child(177) {
  --hue: 318.4355149147;
}
.dot:nth-child(178) {
  --hue: 122.9779282423;
}
.dot:nth-child(179) {
  --hue: 243.2553175812;
}
.dot:nth-child(180) {
  --hue: 266.9890897776;
}
.dot:nth-child(181) {
  --hue: 183.3352691902;
}
.dot:nth-child(182) {
  --hue: 174.6072677081;
}
.dot:nth-child(183) {
  --hue: 98.6877772353;
}
.dot:nth-child(184) {
  --hue: 33.8209398347;
}
.dot:nth-child(185) {
  --hue: 253.9195711695;
}
.dot:nth-child(186) {
  --hue: 234.5586045086;
}
.dot:nth-child(187) {
  --hue: 173.5601119156;
}
.dot:nth-child(188) {
  --hue: 290.944124725;
}
.dot:nth-child(189) {
  --hue: 295.0462120812;
}
.dot:nth-child(190) {
  --hue: 347.9067682532;
}
.dot:nth-child(191) {
  --hue: 347.094223194;
}
.dot:nth-child(192) {
  --hue: 105.8151816362;
}
.dot:nth-child(193) {
  --hue: 79.1272093501;
}
.dot:nth-child(194) {
  --hue: 152.6111269017;
}
.dot:nth-child(195) {
  --hue: 91.5969229243;
}
.dot:nth-child(196) {
  --hue: 96.0709465236;
}
.dot:nth-child(197) {
  --hue: 304.8276194848;
}
.dot:nth-child(198) {
  --hue: 162.9830804973;
}
.dot:nth-child(199) {
  --hue: 337.0509987846;
}
.dot:nth-child(200) {
  --hue: 26.1757345361;
}
.dot:nth-child(201) {
  --hue: 240.774214276;
}
.dot:nth-child(202) {
  --hue: 221.4898106905;
}
.dot:nth-child(203) {
  --hue: 196.1050686528;
}
.dot:nth-child(204) {
  --hue: 172.5576378592;
}
.dot:nth-child(205) {
  --hue: 153.3296493231;
}
.dot:nth-child(206) {
  --hue: 0.2176179634;
}
.dot:nth-child(207) {
  --hue: 80.8158782684;
}
.dot:nth-child(208) {
  --hue: 225.3821924176;
}
.dot:nth-child(209) {
  --hue: 198.2588856026;
}
.dot:nth-child(210) {
  --hue: 252.4785033653;
}
.dot:nth-child(211) {
  --hue: 309.5450126363;
}
.dot:nth-child(212) {
  --hue: 90.0880844224;
}
.dot:nth-child(213) {
  --hue: 3.3796893668;
}
.dot:nth-child(214) {
  --hue: 349.3169820952;
}
.dot:nth-child(215) {
  --hue: 10.8890958112;
}
.dot:nth-child(216) {
  --hue: 207.4922667886;
}
.dot:nth-child(217) {
  --hue: 275.6681776681;
}
.dot:nth-child(218) {
  --hue: 92.3997641085;
}
.dot:nth-child(219) {
  --hue: 164.5699946803;
}
.dot:nth-child(220) {
  --hue: 301.6558540307;
}
.dot:nth-child(221) {
  --hue: 155.174450533;
}
.dot:nth-child(222) {
  --hue: 240.0726101833;
}
.dot:nth-child(223) {
  --hue: 331.8488119126;
}
.dot:nth-child(224) {
  --hue: 93.8051841552;
}
.dot:nth-child(225) {
  --hue: 46.7080096677;
}
.dot:nth-child(226) {
  --hue: 269.4240663099;
}
.dot:nth-child(227) {
  --hue: 164.9276265443;
}
.dot:nth-child(228) {
  --hue: 82.8178060016;
}
.dot:nth-child(229) {
  --hue: 286.225135218;
}
.dot:nth-child(230) {
  --hue: 43.8965193384;
}
.dot:nth-child(231) {
  --hue: 22.5472310755;
}
.dot:nth-child(232) {
  --hue: 89.8887684599;
}
.dot:nth-child(233) {
  --hue: 252.5793296659;
}
.dot:nth-child(234) {
  --hue: 236.5131367202;
}
.dot:nth-child(235) {
  --hue: 317.9741470315;
}
.dot:nth-child(236) {
  --hue: 334.9673827037;
}
.dot:nth-child(237) {
  --hue: 251.0353176217;
}
.dot:nth-child(238) {
  --hue: 168.1999220621;
}
.dot:nth-child(239) {
  --hue: 245.6452801512;
}
.dot:nth-child(240) {
  --hue: 138.9857397645;
}
.dot:nth-child(241) {
  --hue: 286.7685191795;
}
.dot:nth-child(242) {
  --hue: 280.397707584;
}
.dot:nth-child(243) {
  --hue: 19.6889792807;
}
.dot:nth-child(244) {
  --hue: 257.0293593787;
}
.dot:nth-child(245) {
  --hue: 312.8197528197;
}
.dot:nth-child(246) {
  --hue: 49.7791578347;
}
.dot:nth-child(247) {
  --hue: 294.4949838772;
}
.dot:nth-child(248) {
  --hue: 126.108207652;
}
.dot:nth-child(249) {
  --hue: 192.3312459557;
}
.dot:nth-child(250) {
  --hue: 314.006728316;
}
.dot:nth-child(251) {
  --hue: 5.2007998812;
}
.dot:nth-child(252) {
  --hue: 333.4587526215;
}
.dot:nth-child(253) {
  --hue: 344.269472778;
}
.dot:nth-child(254) {
  --hue: 77.2355669151;
}
.dot:nth-child(255) {
  --hue: 64.2513007464;
}
.dot:nth-child(256) {
  --hue: 273.9195601476;
}
.dot:nth-child(257) {
  --hue: 155.2795362476;
}
.dot:nth-child(258) {
  --hue: 126.8487752824;
}
.dot:nth-child(259) {
  --hue: 129.4876345522;
}
.dot:nth-child(260) {
  --hue: 342.7410171971;
}
.dot:nth-child(261) {
  --hue: 36.9456435298;
}
.dot:nth-child(262) {
  --hue: 44.7379129955;
}
.dot:nth-child(263) {
  --hue: 109.2299995892;
}
.dot:nth-child(264) {
  --hue: 299.6493368678;
}
.dot:nth-child(265) {
  --hue: 59.117036329;
}
.dot:nth-child(266) {
  --hue: 141.8705540264;
}
.dot:nth-child(267) {
  --hue: 24.2528619595;
}
.dot:nth-child(268) {
  --hue: 66.9869936795;
}
.dot:nth-child(269) {
  --hue: 150.145553448;
}
.dot:nth-child(270) {
  --hue: 260.0971512767;
}
.dot:nth-child(271) {
  --hue: 275.0808966239;
}
.dot:nth-child(272) {
  --hue: 63.9831167447;
}
.dot:nth-child(273) {
  --hue: 220.1998523131;
}
.dot:nth-child(274) {
  --hue: 307.8089553391;
}
.dot:nth-child(275) {
  --hue: 182.3514990294;
}
.dot:nth-child(276) {
  --hue: 39.8096453712;
}
.dot:nth-child(277) {
  --hue: 64.663422211;
}
.dot:nth-child(278) {
  --hue: 294.6660065584;
}
.dot:nth-child(279) {
  --hue: 311.3289502663;
}
.dot:nth-child(280) {
  --hue: 30.5841746543;
}
.dot:nth-child(281) {
  --hue: 105.8199840868;
}
.dot:nth-child(282) {
  --hue: 94.8002294562;
}
.dot:nth-child(283) {
  --hue: 71.6159525277;
}
.dot:nth-child(284) {
  --hue: 231.6816278225;
}
.dot:nth-child(285) {
  --hue: 179.0947412529;
}
.dot:nth-child(286) {
  --hue: 57.0389151721;
}
.dot:nth-child(287) {
  --hue: 192.1763148753;
}
.dot:nth-child(288) {
  --hue: 132.8157424795;
}
.dot:nth-child(289) {
  --hue: 318.7658241407;
}
.dot:nth-child(290) {
  --hue: 172.0465009512;
}
.dot:nth-child(291) {
  --hue: 136.7155853646;
}
.dot:nth-child(292) {
  --hue: 102.489688874;
}
.dot:nth-child(293) {
  --hue: 154.3792462166;
}
.dot:nth-child(294) {
  --hue: 288.2488630033;
}
.dot:nth-child(295) {
  --hue: 352.5388357452;
}
.dot:nth-child(296) {
  --hue: 269.0588077501;
}
.dot:nth-child(297) {
  --hue: 77.7901421837;
}
.dot:nth-child(298) {
  --hue: 138.3863810137;
}
.dot:nth-child(299) {
  --hue: 323.8895690917;
}
.dot:nth-child(300) {
  --hue: 51.4783698873;
}
.dot:nth-child(301) {
  --hue: 10.8426281023;
}
.dot:nth-child(302) {
  --hue: 247.1168380584;
}
.dot:nth-child(303) {
  --hue: 184.6768510858;
}
.dot:nth-child(304) {
  --hue: 335.1186655593;
}
.dot:nth-child(305) {
  --hue: 30.6947772023;
}
.dot:nth-child(306) {
  --hue: 330.6522176833;
}
.dot:nth-child(307) {
  --hue: 95.9436510684;
}
.dot:nth-child(308) {
  --hue: 179.987646314;
}
.dot:nth-child(309) {
  --hue: 323.2236429297;
}
.dot:nth-child(310) {
  --hue: 227.2271814134;
}
.dot:nth-child(311) {
  --hue: 78.231310486;
}
.dot:nth-child(312) {
  --hue: 30.9954802631;
}
.dot:nth-child(313) {
  --hue: 89.3700764347;
}
.dot:nth-child(314) {
  --hue: 26.2901331951;
}
.dot:nth-child(315) {
  --hue: 187.1255422636;
}
.dot:nth-child(316) {
  --hue: 252.5891140319;
}
.dot:nth-child(317) {
  --hue: 331.8260490192;
}
.dot:nth-child(318) {
  --hue: 107.0583682331;
}
.dot:nth-child(319) {
  --hue: 101.3641598599;
}
.dot:nth-child(320) {
  --hue: 353.3325576908;
}
.dot:nth-child(321) {
  --hue: 76.5798381656;
}
.dot:nth-child(322) {
  --hue: 136.4485894067;
}
.dot:nth-child(323) {
  --hue: 40.9039261994;
}
.dot:nth-child(324) {
  --hue: 347.3220816625;
}
.dot:nth-child(325) {
  --hue: 62.1538881294;
}
.dot:nth-child(326) {
  --hue: 255.230014564;
}
.dot:nth-child(327) {
  --hue: 303.7666656901;
}
.dot:nth-child(328) {
  --hue: 355.814619219;
}
.dot:nth-child(329) {
  --hue: 312.6386017356;
}
.dot:nth-child(330) {
  --hue: 88.7428114794;
}
.dot:nth-child(331) {
  --hue: 136.8526539472;
}
.dot:nth-child(332) {
  --hue: 47.8590385687;
}
.dot:nth-child(333) {
  --hue: 245.2434881679;
}
.dot:nth-child(334) {
  --hue: 284.7546110565;
}
.dot:nth-child(335) {
  --hue: 346.1797308476;
}
.dot:nth-child(336) {
  --hue: 221.3475520759;
}
.dot:nth-child(337) {
  --hue: 34.2525944952;
}
.dot:nth-child(338) {
  --hue: 203.1363970525;
}
.dot:nth-child(339) {
  --hue: 258.5979083591;
}
.dot:nth-child(340) {
  --hue: 329.2687921392;
}
.dot:nth-child(341) {
  --hue: 175.1243641724;
}
.dot:nth-child(342) {
  --hue: 248.0590987209;
}
.dot:nth-child(343) {
  --hue: 177.177528724;
}
.dot:nth-child(344) {
  --hue: 73.9247575385;
}
.dot:nth-child(345) {
  --hue: 252.5059398225;
}
.dot:nth-child(346) {
  --hue: 122.1214872988;
}
.dot:nth-child(347) {
  --hue: 107.0866651914;
}
.dot:nth-child(348) {
  --hue: 17.7390427511;
}
.dot:nth-child(349) {
  --hue: 207.7793013402;
}
.dot:nth-child(350) {
  --hue: 69.0820124707;
}
.dot:nth-child(351) {
  --hue: 318.9265237053;
}
.dot:nth-child(352) {
  --hue: 106.555944651;
}
.dot:nth-child(353) {
  --hue: 281.8009662827;
}
.dot:nth-child(354) {
  --hue: 28.6752959056;
}
.dot:nth-child(355) {
  --hue: 330.0766688307;
}
.dot:nth-child(356) {
  --hue: 107.0879215993;
}
.dot:nth-child(357) {
  --hue: 190.5366844659;
}
.dot:nth-child(358) {
  --hue: 193.2580757099;
}
.dot:nth-child(359) {
  --hue: 69.3160805962;
}
.dot:nth-child(360) {
  --hue: 236.229574523;
}
.dot:nth-child(361) {
  --hue: 0.93590791;
}
.dot:nth-child(362) {
  --hue: 348.2662554397;
}
.dot:nth-child(363) {
  --hue: 218.0230849379;
}
.dot:nth-child(364) {
  --hue: 261.1581037359;
}
.dot:nth-child(365) {
  --hue: 26.4542110385;
}
.dot:nth-child(366) {
  --hue: 23.298188438;
}
.dot:nth-child(367) {
  --hue: 107.5490009378;
}
.dot:nth-child(368) {
  --hue: 83.1631052193;
}
.dot:nth-child(369) {
  --hue: 314.4698236169;
}
.dot:nth-child(370) {
  --hue: 194.5770006563;
}
.dot:nth-child(371) {
  --hue: 27.8222225317;
}
.dot:nth-child(372) {
  --hue: 311.7804221546;
}
.dot:nth-child(373) {
  --hue: 302.4142197551;
}
.dot:nth-child(374) {
  --hue: 121.146327958;
}
.dot:nth-child(375) {
  --hue: 69.5673500132;
}
.dot:nth-child(376) {
  --hue: 136.9343239089;
}
.dot:nth-child(377) {
  --hue: 308.1508383849;
}
.dot:nth-child(378) {
  --hue: 31.5497670578;
}
.dot:nth-child(379) {
  --hue: 11.5194870818;
}
.dot:nth-child(380) {
  --hue: 6.1158537576;
}
.dot:nth-child(381) {
  --hue: 242.5205499818;
}
.dot:nth-child(382) {
  --hue: 319.8048447137;
}
.dot:nth-child(383) {
  --hue: 165.3525709071;
}
.dot:nth-child(384) {
  --hue: 137.9494757855;
}
.dot:nth-child(385) {
  --hue: 156.2286949107;
}
.dot:nth-child(386) {
  --hue: 95.886302432;
}
.dot:nth-child(387) {
  --hue: 291.9099144384;
}
.dot:nth-child(388) {
  --hue: 82.5098938424;
}
.dot:nth-child(389) {
  --hue: 127.004981973;
}
.dot:nth-child(390) {
  --hue: 135.5277675024;
}
.dot:nth-child(391) {
  --hue: 285.4815623449;
}
.dot:nth-child(392) {
  --hue: 177.920879793;
}
.dot:nth-child(393) {
  --hue: 301.1224700538;
}
.dot:nth-child(394) {
  --hue: 27.4986409652;
}
.dot:nth-child(395) {
  --hue: 270.6082765157;
}
.dot:nth-child(396) {
  --hue: 158.1767995355;
}
.dot:nth-child(397) {
  --hue: 101.5970216332;
}
.dot:nth-child(398) {
  --hue: 249.1039423279;
}
.dot:nth-child(399) {
  --hue: 204.0752866149;
}
.dot:nth-child(400) {
  --hue: 78.2037902406;
}
.dot:nth-child(20n+1) {
  --delay1: 0s;
}
.dot:nth-child(n+1):nth-child(-n+20) {
  --delay2: 0s;
}
.dot:nth-child(20n+2) {
  --delay1: -2s;
}
.dot:nth-child(n+21):nth-child(-n+40) {
  --delay2: -3s;
}
.dot:nth-child(20n+3) {
  --delay1: -4s;
}
.dot:nth-child(n+41):nth-child(-n+60) {
  --delay2: -6s;
}
.dot:nth-child(20n+4) {
  --delay1: -6s;
}
.dot:nth-child(n+61):nth-child(-n+80) {
  --delay2: -9s;
}
.dot:nth-child(20n+5) {
  --delay1: -8s;
}
.dot:nth-child(n+81):nth-child(-n+100) {
  --delay2: -12s;
}
.dot:nth-child(20n+6) {
  --delay1: -10s;
}
.dot:nth-child(n+101):nth-child(-n+120) {
  --delay2: -15s;
}
.dot:nth-child(20n+7) {
  --delay1: -12s;
}
.dot:nth-child(n+121):nth-child(-n+140) {
  --delay2: -18s;
}
.dot:nth-child(20n+8) {
  --delay1: -14s;
}
.dot:nth-child(n+141):nth-child(-n+160) {
  --delay2: -21s;
}
.dot:nth-child(20n+9) {
  --delay1: -16s;
}
.dot:nth-child(n+161):nth-child(-n+180) {
  --delay2: -24s;
}
.dot:nth-child(20n+10) {
  --delay1: -18s;
}
.dot:nth-child(n+181):nth-child(-n+200) {
  --delay2: -27s;
}
.dot:nth-child(20n+11) {
  --delay1: -20s;
}
.dot:nth-child(n+201):nth-child(-n+220) {
  --delay2: -30s;
}
.dot:nth-child(20n+12) {
  --delay1: -22s;
}
.dot:nth-child(n+221):nth-child(-n+240) {
  --delay2: -33s;
}
.dot:nth-child(20n+13) {
  --delay1: -24s;
}
.dot:nth-child(n+241):nth-child(-n+260) {
  --delay2: -36s;
}
.dot:nth-child(20n+14) {
  --delay1: -26s;
}
.dot:nth-child(n+261):nth-child(-n+280) {
  --delay2: -39s;
}
.dot:nth-child(20n+15) {
  --delay1: -28s;
}
.dot:nth-child(n+281):nth-child(-n+300) {
  --delay2: -42s;
}
.dot:nth-child(20n+16) {
  --delay1: -30s;
}
.dot:nth-child(n+301):nth-child(-n+320) {
  --delay2: -45s;
}
.dot:nth-child(20n+17) {
  --delay1: -32s;
}
.dot:nth-child(n+321):nth-child(-n+340) {
  --delay2: -48s;
}
.dot:nth-child(20n+18) {
  --delay1: -34s;
}
.dot:nth-child(n+341):nth-child(-n+360) {
  --delay2: -51s;
}
.dot:nth-child(20n+19) {
  --delay1: -36s;
}
.dot:nth-child(n+361):nth-child(-n+380) {
  --delay2: -54s;
}
.dot:nth-child(20n+20) {
  --delay1: -38s;
}
.dot:nth-child(n+381):nth-child(-n+400) {
  --delay2: -57s;
}/*# sourceMappingURL=style.css.map */